<!doctype html>
<html>
<head>
    <meta charset="utf8" />
    <title>e.vrbi Webpack Boilerplate</title>
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% for (var css in htmlWebpackPlugin.files.css)  %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% for (var js in htmlWebpackPlugin.files.js) %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js]%>"></script>
    <link href="./sandbox/style.css" rel="stylesheet">
    <script type="text/javascript" src="./sandbox/script.js"></script>
</head>
<body>
</body>

</html>